.customCard, .custom-card:hover {
   background-color: #6e87cf;
    color: white;
    outline: none !important;
    border: none !important;
    cursor: pointer;
    white-space:pre-wrap !important;
}