<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="row d-flex justify-content-between ">
<h4 id="day">{{day}}</h4>
<a href="" class="btn "><i class=" icon fas fa-plus-circle"></i></a> 
</div>
<div>
  <table class=" table customTable table-borderless">
    <tr >
      <td class="hrContaine">
        <span class="hr">9.00</span>
      </td>
      <td >&nbsp;</td>
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">10.00</span>
      </td>
      <td >
          &nbsp;
      </td>

    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">11.00</span>
      </td>
      <td rowspan="1" class="reserve reservebottom ">
           Meetin Room Hambeasd 
      </td>
    </tr>

    <tr>
      <td class="hrContaine">
        <span class="hr">12.00</span>
      </td>
      <td >
        &nbsp;
        </td>
  
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">13.00</span>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">14.00</span>
      </td >
      <td rowspan="2" class="reserve reservebottom ">&nbsp;</td>
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">15.00</span>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">16.00</span>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">17.00</span>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="hrContaine">
        <span class="hr">18.00</span>
      </td>
      <td rowspan="1" class="reserve reservebottom ">&nbsp;</td>
    </tr>

  </table>

 <!--<p *ngFor="let room of ReservationsFinal"> {{room.reservations}} </p>--> 

</div>